body{
  text-align: center;
  padding: 50px;
  background-color:lightcoral;
}
.clock
{
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  outline: 6px solid rgb(171, 156, 156);
padding:20px;;
margin: auto 0;
border: 5px solid black;
}
img{

  height: 100%;
  width:auto;
}

#p1
{
  position:absolute;
  left:32rem;
  top:8.2rem;
  width:2px;
  height:200px;
  background-color: black;
  border-radius:10px;
 transform-origin:bottom;
}
#p2{
  position: absolute;
  top:11rem;
  left:32rem;
  width:6px;
  height:160px;
  background-color: black;
 border-radius:10px;
 transform-origin: bottom;
}
#p3
{
  position: absolute;
  top:14.3rem;
  left:31.8rem;
  top:
  width: 10px;
  height: 100px;
  background-color: black;
  border-radius:10px;
 transform-origin: bottom;
}
p{
padding: 30px;
font-size: 40px;
text-shadow: 2px 2px 5px rgb(227, 47, 86);
word-spacing: 5px;
font-weight: 800px;
}
